@import '~@angular/material/theming';

@mixin p-league-about-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  app-about {
    .background {
      color: mat-color($foreground, text);
      background-color: mat-color($background, background);

      .gradient {
        &::before {
          background: linear-gradient(
            to bottom,
            mat-color($background, background, 0) 0%,
            mat-color($background, background, 1) 100%
          );
        }
      }
    }

    .basketball{
      color: mat-color($accent);
    }

    h1{
      background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0.52, mat-color($primary, lighter)),
        color-stop(0.76, mat-color($primary, default))
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    
    .app-gradient{
      background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0.52, mat-color($primary, lighter)),
        color-stop(0.76, mat-color($primary, default))
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;    
    }   
  }
}