<p>modify-match-up works!</p>
<mat-form-field class="game-times-chips" floatLabel="always">
	<mat-chip-list #chipList aria-label="Game Times" [errorStateMatcher]="requireTime">
		<ng-container *ngFor="let gamesTime of gamesDay['controls'].gamesTimes['controls']; let indexGamesTime = index">
			<ng-container [formGroupName]="indexGamesTime">
				<mat-chip *ngIf="gamesTime.value.gamesTime" selectable="true" removable="true" (removed)="removeGameTime(indexGamesDay, indexGamesTime)">
					{{ gamesTime.value?.gamesTime }}
					<mat-icon matChipRemove>cancel</mat-icon>
				</mat-chip>
				<mat-error *ngIf="gamesDay['controls'].gamesTimes.touched && gamesDay['controls'].gamesTimes.errors"
					>error {{ gamesDay['controls'].gamesTimes | log }}</mat-error
				>
			</ng-container>
		</ng-container>

		<input
			placeholder="Game Times..."
			[ngxTimepicker]="timePick"
			[matChipInputFor]="chipList"
			matChipInputAddOnBlur="true"
			[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
			(matChipInputTokenEnd)="addGameTime($event, indexGamesDay)"
		/>

		<ngx-material-timepicker #timePick></ngx-material-timepicker>
	</mat-chip-list>
</mat-form-field>
