<div class="wrapper">
	<div class="container">
		<form [formGroup]="sessionForm" (ngSubmit)="onSubmit()" novalidate>
			<mat-form-field>
				<input formControlName="numberOfWeeks" matInput type="number" min="1" max="16" placeholder="# of weeks" />
				<mat-error>
					Please specify number of weeks
				</mat-error>
			</mat-form-field>

			<mat-form-field>
				<input matInput formControlName="sessionStart" [matDatepicker]="sessionStart" placeholder="Session Start Date" />
				<mat-datepicker-toggle matSuffix [for]="sessionStart"></mat-datepicker-toggle>
				<mat-datepicker #sessionStart></mat-datepicker>
			</mat-form-field>

			<mat-form-field>
				<input matInput formControlName="sessionEnd" [matDatepicker]="sessionEnd" placeholder="Session End Date" />
				<mat-datepicker-toggle matSuffix [for]="sessionEnd"></mat-datepicker-toggle>
				<mat-datepicker #sessionEnd></mat-datepicker>
			</mat-form-field>
			<div class="gameDayTimes">
				<ng-container formArrayName="gamesDays">
					<ng-container *ngFor="let gamesDay of sessionForm['controls'].gamesDays['controls']; let indexGamesDay = index; let firstIndex = first">
						<ng-container [formGroupName]="indexGamesDay">
							<mat-form-field>
								<mat-label>Game Day</mat-label>
								<mat-select formControlName="gamesDay">
									<mat-option *ngFor="let day of matchDays | enumToArray" [value]="day"> {{ day }}</mat-option>
								</mat-select>
								<mat-error>
									Please select game day
								</mat-error>
							</mat-form-field>
							<mat-icon *ngIf="!firstIndex" (click)="removeGamesDay(indexGamesDay)" aria-hidden="false" aria-label="Remove Game Day">remove</mat-icon>

							<ng-container formArrayName="gamesTimes">
								<mat-form-field class="game-times-chips" floatLabel="always">
									<mat-chip-list #chipList aria-label="Game Times">
										<ng-container *ngFor="let gamesTime of gamesDay['controls'].gamesTimes['controls']; let indexGamesTime = index">
											<ng-container [formGroupName]="indexGamesTime">
												<mat-chip
													*ngIf="gamesTime.value.gamesTime"
													selectable="true"
													removable="true"
													(removed)="removeGameTime(indexGamesDay, indexGamesTime)"
												>
													{{ gamesTime.value?.gamesTime }}
													<mat-icon matChipRemove>cancel</mat-icon>
												</mat-chip>
											</ng-container>
										</ng-container>

										<input
											placeholder="Game Times..."
											[ngxTimepicker]="timePick"
											[matChipInputFor]="chipList"
											matChipInputAddOnBlur="true"
											[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
											(matChipInputTokenEnd)="addGameTime($event, indexGamesDay)"
										/>
										<ngx-material-timepicker #timePick></ngx-material-timepicker>
									</mat-chip-list>
								</mat-form-field>
							</ng-container>
						</ng-container>
					</ng-container>
				</ng-container>
			</div>
			<button type="button" mat-raised-button (click)="addGamesDay()" color="primary">Add Day</button>
			<mat-slide-toggle formControlName="byeWeeks">Include BYE Weeks</mat-slide-toggle>

			<div>
				<button mat-raised-button color="accent" [disabled]="!sessionForm.valid">Generate</button>
			</div>
		</form>
	</div>
</div>
