<div>
	<app-session-schedules
		[title]="todaysTitle"
		(filterByInputChanged)="onFilterValueChanged($event, 'today')"
		[dataSource]="todayDataSource"
	></app-session-schedules>
	<ng-container *ngIf="filteredPairs$ | async as pairs">
		<app-session-schedules
			[dataSource]="leaguesSessionSchduleDataSource"
			[pairs]="pairs"
			[displayLeagueID]="displayLeagueID"
			[displayTeamID]="displayTeamID"
			(leagueChanged)="onLeagueSelectionChanged($event)"
			(teamChanged)="onTeamSelectionChanged($event)"
			(filterByDateChanged)="onDateSelectionChanged($event)"
			(filterByInputChanged)="onFilterValueChanged($event, 'all')"
		>
		</app-session-schedules>
	</ng-container>
</div>
