  <div [@fadeHeader]="hideToolBarHeader ? 'hide' : 'show'" class="toolbar" [class.mat-elevation-z7]="isSticky"  >      

    <mat-toolbar color="primary" [ngStyle]="{backgroundColor: (isSticky) ? null : 'transparent'}">

    <button style="position: absolute" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="onToggleSidenav()"
      *ngIf="isHandset$ | async">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>

    <span routerLink="/about" class="branding center-logo">
      <img [src]="logo" />
    </span>

  </mat-toolbar>
  
</div>

<!--  -->