.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.toolbar {
  position: fixed;
  width: 100%;
  display: flex;
  z-index: 10;

  .branding {
    cursor: pointer;
    overflow: hidden;
    // padding-top: 4px; // This was causing the logo to be to low to the bottom edge of the navigation bar
    text-overflow: ellipsis;
  }

  img {
    position: relative;
    top: 0px;
    width: 48px;
    height: 48px;
  }

  .center-logo {
    display: block;
    margin: 0 auto;
  }

  .center {
    text-align: center;
  }


  .spacer {
    flex: 1 1 auto;    
  }

  mat-icon {
    font-size: 24px;
  }

}
