<!-- [ngStyle]="{position: (isSticky ) ? null : 'absolute'}" -->
  <div class="toolbar" [class.mat-elevation-z7]="isSticky" [ngClass]="{'hide-toolbar': hideToolBarHeader }" >   

    <mat-toolbar color="primary" [ngStyle]="{backgroundColor: (isSticky) ? null : 'transparent'}">

    <button style="position: absolute" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="onToggleSidenav()"
      *ngIf="isHandset$ | async">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>

    <span routerLink="/about" class="branding center-logo">
      <img [src]="logo" />
    </span>

    <!-- <span>{{appTitle}}</span> -->

  </mat-toolbar>
  
</div>

<p style="position: sticky">Hide ToolBar Header: {{headerService.hideHeader}}</p>