<div style="margin-top: 75px;">
	<ng-container *ngIf="filteredPairs$ | async as pairs">
		<app-session-schedules
			[title]="todaysTitle"
			[dataSource]="todayDataSource"
			[admin]="admin"
			[mobile]="isMobile"
			(filterByInputChanged)="onFilterValueChanged($event, 'today')"
			(matchReported)="onMatchReported($event)"
		></app-session-schedules>

		<app-session-schedules
			[dataSource]="leaguesSessionSchduleDataSource"
			[pairs]="pairs"
			[displayLeagueID]="allDisplayLeagueID"
			[displayTeamID]="allDisplayTeamID"
			[admin]="admin"
			[mobile]="isMobile"
			(leagueChanged)="onLeagueSelectionChanged($event, 'all')"
			(teamChanged)="onTeamSelectionChanged($event, 'all')"
			(filterByDateChanged)="onDateSelectionChanged($event)"
			(filterByInputChanged)="onFilterValueChanged($event, 'all')"
			(matchReported)="onMatchReported($event)"
		>
		</app-session-schedules>
	</ng-container>
</div>
