.gear-item-title {
  padding-left: 24px;
}

.action-buttons {
  margin-top: 15px;
  display: flex;
}

.action-buttons .post-button {
  margin-left: auto;
}

.mat-form-field {
  width: 100%;
}

#imagesToUploadContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-flow: column;
  justify-content: space-evenly;
  margin-top: 10px;
}

.right-align {
  text-align: right;
}

// Necessary to overwrite dynamically
// generated styling that is applied to angular material components
:host /deep/ .mat-horizontal-content-container {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 24px;
}

:host /deep/ .mat-form-field.mat-focused .mat-form-field-label {
  color: rgba(255, 255, 255, 0.7);
}

:host /deep/ .mat-chip-list-stacked .mat-chip-list-wrapper .mat-standard-chip {
  width: auto;
}

.upload-image-chips {
  margin-bottom: 10px;
}

:host /deep/ #imagesToUploadContainer mat-form-field div:nth-child(2) {
  display: none;
}

mat-slide-toggle {
  padding-left: 10px;
  display: inline-block !important;
}

:host /deep/ .mat-horizontal-content-container {
  padding-bottom: 0px !important;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.contact-preference {
  margin-left: 10px;
}

#preferred-contact-lable {
  margin-bottom: 7px;
}
