.gear-item-title{
  padding-left: 24px;
}

.action-buttons{
  margin-top: 15px;
}

.mat-form-field{
  width: 100%;
}

// Necessary to overwrite dynamically 
// generated styling that is applied to angular material components
:host /deep/ .mat-horizontal-content-container{
  padding-left: 0 ;
  padding-right: 0 ;
  padding-bottom: 24px ;
}

:host /deep/ .mat-form-field.mat-focused .mat-form-field-label{
  color: rgba(255, 255, 255, 0.7);
}

:host /deep/ .mat-chip-list-stacked .mat-chip-list-wrapper .mat-standard-chip {
  width: auto;
}

:host /deep/ .mat-chip-list-wrapper{
  align-items: flex-end;
}
