.gear-item-title{
  padding-left: 24px;
}

.action-buttons{
  margin-top: 15px;
  display: flex;
}

.action-buttons .post-button{
  margin-left: auto;
  
}

.mat-form-field{
  width: 100%;
}

#imagesToUploadContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-flow: column;
  justify-content: space-evenly;
}

.right-align {
  text-align: right;
}

// Necessary to overwrite dynamically 
// generated styling that is applied to angular material components
:host /deep/ .mat-horizontal-content-container{
  padding-left: 0 ;
  padding-right: 0 ;
  padding-bottom: 24px ;
}

:host /deep/ .mat-form-field.mat-focused .mat-form-field-label{
  color: rgba(255, 255, 255, 0.7);
}

:host /deep/ .mat-chip-list-stacked .mat-chip-list-wrapper .mat-standard-chip {
  width: auto;  
}

// :host /deep/ #sizes .mat-form-field-underline{
//   display: none;
// }

.upload-image-chips{
  padding-bottom: 20px;
}

// .gear-sizes{
//   display: flex;
//   justify-content: center;
// }

// :host /deep/ #sizes .mat-form-field-label-wrapper{
//   text-align: center;
// }

mat-slide-toggle{
  padding-left: 10px;
}
