<h1 mat-dialog-title class="gear-item-title">{{ editMode ? 'Edit Item' : 'New Gear' }}</h1>

<form [formGroup]="gearItemForm" (ngSubmit)="onSubmit()">

  <mat-horizontal-stepper>

    <mat-step>

      <ng-template matStepLabel>Info</ng-template>

      <mat-form-field>
        <input matInput placeholder="Name of the item" formControlName="name" cdkFocusInitial>
        <mat-error *ngIf="gearItemForm.get('name').invalid">You must enter a <strong>name</strong></mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Price" formControlName="price">
        <mat-error *ngIf="gearItemForm.get('price').invalid">You must enter a <strong>price</strong></mat-error>
      </mat-form-field>

      <div class="action-buttons">
        <button mat-raised-button color="warn" type="button" (click)="onCancel()">Cancel</button>
        <button mat-raised-button color="accent" matStepperNext type="button">Next</button>
      </div>

    </mat-step>

    <mat-step>

      <ng-template matStepLabel>Details</ng-template>

      <mat-form-field>

        <mat-chip-list #chipList [multiple]="true" [selectable]="true">
          
          <mat-chip 
            [selected]="gearSize.available"  
            (click)="gearSize.available = !gearSize.available; onSelectedChipSize(gearSize)"  
            [color]="gearSize.color"                     
            *ngFor="let gearSize of gearSizes">{{ sizeEnum[gearSize.size] }}  
          </mat-chip>
          <input 
            placeholder="Click on all of the available sizes"
            [matChipInputFor]="chipList"
            style="display: none;"
            >

        </mat-chip-list>

        <!-- <mat-error *ngIf="gearItemForm.get('sizes').invalid">Please select a size</mat-error> -->

      </mat-form-field>

      <!-- <mat-form-field> -->

          <mat-chip-list #imageUploadList class="mat-chip-list-stacked">            

            <mat-chip               
              [removable]="true"
              (removed)="onRemoveImage(storeImage)"                                  
              *ngFor="let storeImage of storeImages | storeImageView">{{ storeImage.name }}  
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>

            <button class="action-buttons" mat-raised-button color="accent" (click)="fileUpload.click()"   type="button">Images</button>
            <input #fileUpload type="file" multiple="multiple" (change)="onFileSelected($event)" style="display: none;"> 

            <mat-slide-toggle (change)="onSlideChange()" [labelPosition]="'after'" formControlName="inStock" color="accent"  style="display: block;">{{ isInStock ? 'In stock' : 'Out of stock' }}</mat-slide-toggle>

          </mat-chip-list>  
  
        <!-- </mat-form-field> -->

      <div class="action-buttons">
        <button mat-raised-button color="warn" matStepperPrevious type="button">Back</button>
        <button mat-raised-button color="accent" [disabled]="!gearItemForm.valid">{{editMode ? 'Update' : 'Upload'}}</button>
      </div>

    </mat-step>

  </mat-horizontal-stepper>

</form>