<h1 mat-dialog-title class="gear-item-title">{{ editMode ? 'Edit Item' : 'New Gear' }}</h1>

<form [formGroup]="gearItemForm" (ngSubmit)="onSubmit()">

  <mat-horizontal-stepper>

    <mat-step>

      <ng-template matStepLabel>Info</ng-template>

      <mat-form-field>
        <input matInput placeholder="Name of the item" formControlName="name" cdkFocusInitial>
        <mat-error>You must enter a <strong>name</strong></mat-error>
      </mat-form-field>

      <mat-form-field>
        <input class="right-align" matInput type="number" placeholder="Price" formControlName="price">
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00</span>
        <mat-error>You must enter a <strong>price</strong></mat-error>
      </mat-form-field>

      <div class="action-buttons">
        <button style="margin-right: 5px" mat-raised-button color="warn" type="button" (click)="onCancel()">Cancel</button>
        <button mat-raised-button color="accent" matStepperNext type="button">Next</button>
      </div>

    </mat-step>

    <mat-step>

      <ng-template matStepLabel>Details</ng-template>
      
      <mat-form-field floatLabel="always">        
        <mat-placeholder class="placeholder">Gear sizes...</mat-placeholder>
        <mat-chip-list #chipList formControlName="sizes" [errorStateMatcher]="noSizesSelectedStateMatcher" [multiple]="true"
          [selectable]="true">          
          <ng-container [formGroup]="gearItemForm.controls.sizes.value.gearSizesGroup">
            <ng-container formArrayName="gearSizesArray" class="mat-chip-list-container">
              <ng-container *ngFor="let gearSizeControl of gearItemForm.controls.sizes.value.gearSizesGroup.controls.gearSizesArray.controls">
                
                  <mat-chip [selected]="gearSizeControl.controls.gearSize.value.available"
                    (click)="gearSizeControl.controls.gearSize.value.available = !gearSizeControl.controls.gearSize.value.available; onSelectedChipSize()"
                    [color]="gearSizeControl.controls.gearSize.value.color">{{sizeEnum[gearSizeControl.controls.gearSize.value.size]}}
                  </mat-chip>
                
              </ng-container> 
            </ng-container>
          </ng-container>
        </mat-chip-list>      
                
        <mat-error>Please select a size</mat-error>
      </mat-form-field>     
      
        <div id="imagesToUploadContainer" [@imageUpload]="gearItemImages.length">
        
          <mat-chip-list formControlName="images" [ngStyle]="{ 'margin-bottom': hideIfEmpty() }"
            class="mat-chip-list-stacked upload-image-chips">
            <ng-container *ngFor="let gearImage of gearItemImages | gearImageView;">
              <mat-chip [removable]="true" (removed)="onRemoveImage(gearImage)">{{ gearImage.name }}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
            </ng-container>
        
          </mat-chip-list>
        
        </div>

        <mat-slide-toggle (change)="onSlideChange()" [labelPosition]="'after'" formControlName="inStock" color="accent"  style="display: block;">{{ isInStock ? 'In stock' : 'Out of stock' }}</mat-slide-toggle>

      <div class="action-buttons">
        <button style="align-self: flex-end; margin-right: 5px;" mat-raised-button color="warn" matStepperPrevious type="button">Back</button>

        <button class="action-buttons" mat-raised-button color="accent" (click)="fileUpload.click()" type="button">Images</button>
            <input #fileUpload type="file" multiple="multiple" (change)="onFileSelected($event)"  style="display: none;">

        <button class="post-button" style="align-self: flex-end;" mat-raised-button color="accent" [disabled]="!gearItemForm.valid">{{editMode ? 'Update' : 'Post'}}</button>        
      </div>

    </mat-step>

  </mat-horizontal-stepper>

</form>