.app-loading {
	.logo {
		width: 64px;
		height: 64px;
		background: url('https://res.cloudinary.com/dwsvaiiox/image/upload/f_auto,q_70,w_64/v1581275472/movies-place/logo_no_title.png') center center
			no-repeat;
		background-size: cover;
	}
}
