.app-loading {
	.logo {
		width: 64px;
		height: 64px;
		background: url('https://res.cloudinary.com/dkbelxhih/image/upload/f_auto,q_70,w_64/v1581902164/pleague/logo_no_title_xefmbk.png') center center
			no-repeat;
		background-size: cover;
	}
}
