@import '~@angular/material/theming';

@mixin p-league-merchandise-dialog-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .chip{
    background-color: mat-color($accent, default);
  }
}