<div #contactFormElement class="form-wrapper" [ngClass]="routeAnimationsElements">
  <form [formGroup]="contactForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="signup-card">
      <mat-card-header>
        <mat-card-title>Team Info</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Team's name" formControlName="teamName" />
              <mat-error *ngIf="contactForm.controls['teamName'].hasError('required')">
                Last name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="First name" formControlName="firstName" />
              <mat-error *ngIf="contactForm.controls['firstName'].hasError('required')">
                First name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Last name" formControlName="lastName" />
              <mat-error *ngIf="contactForm.controls['lastName'].hasError('required')">
                Last name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Phone number" formControlName="phoneNumber" minlength="10" maxlength="10" />
              <mat-error *ngIf="contactForm.controls['phoneNumber'].hasError('required')">
                Phone Number is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Email" formControlName="email" />
              <mat-error *ngIf="contactForm.controls['email'].hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div id="preferred-contact-lable">
          <mat-placeholder class="placeholder">Preferred Contact:</mat-placeholder>
        </div>
        <div class="contact-preference">
          <mat-radio-group formControlName="preferredContact" aria-label="Select an option">
            <mat-radio-button value="1" [checked]="true">Text/Call</mat-radio-button>
            <mat-radio-button value="2">Email</mat-radio-button>
          </mat-radio-group>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button [disabled]="!contactForm.valid || isLoading" color="primary" type="submit">
          Submit
        </button>
        <button mat-raised-button color="warn" routerLink="/about" type="button">
          Cancel
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>