<mat-accordion>

  <mat-expansion-panel>

    <mat-expansion-panel-header>

      <mat-panel-title>
        <mat-icon class="md-18" aria-hidden="false" aria-label="Add icon">add</mat-icon>
        {{ addType?.title }}
      </mat-panel-title>
      <mat-panel-description>
        {{ addType?.description }}
      </mat-panel-description>

    </mat-expansion-panel-header>

<!-- START -- contents -->

<div [ngSwitch]="addType?.kind">

  <!-- render add team -->
  <div *ngSwitchCase="'team'">
    <mat-form-field>
      <input matInput placeholder="Team Name">
    </mat-form-field>

    <mat-form-field>
      <mat-label>League</mat-label>
      <mat-select>
        <mat-option *ngFor="let league of addType?.leagues" [value]="league.name">
          {{ league.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngSwitchCase="'league'">
    <mat-form-field>
      <input type="text" placeholder="Sport" aria-label="sports" matInput
        [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let sport of addType?.sportTypes | enumToArray" [value]="sport">
          {{ sport }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="League Name">
    </mat-form-field>
  </div>
  <button mat-raised-button color="accent" (click)=onAddItem()>Add</button>
</div>



<!-- END -- contents -->

  </mat-expansion-panel>

</mat-accordion>