<div class="wrapper">
  <ng-container *ngIf="sportTypes$ | async as types">
    <mat-tab-group #matGroup (selectedTabChange)="reset($event)" [selectedIndex]="nextTab">
      <mat-tab label="League">
        <app-add-leagues
          [sportTypes]="types.sports"
          [newSportLeagueForm]="newSportLeagueForm"
          (onNewSportLeague)="onNewSportLeague($event)"
        ></app-add-leagues>
        <!-- loop through all sports and display league administration for each sport each sport contains list of leagues-->

        <ng-container *ngFor="let sport of types.sports">
          <app-league-administration
            (deletedSport)="onDeleteSport($event)"
            (updatedSport)="onUpdateSport($event)"
            [sportType]="sport"
          ></app-league-administration>
        </ng-container>
        <div>
          <button mat-raised-button (click)="onNewSchedule()" [disabled]="checkSelection()">
            New
          </button>
          <button mat-raised-button (click)="onPlayOffsSchedule()" [disabled]="checkSelection()">
            Play Offs
          </button>
          <button mat-raised-button (click)="onModifySchedule()" [disabled]="checkExistingSchedule()">
            Modify
          </button>
        </div>
      </mat-tab>

      <mat-tab [label]="tabTitle" [disabled]="checkSelection()">
        <ng-template matTabContent>
          <app-add-teams [sportType]="types.sports" [newTeamForm]="newTeamForm" (onNewTeam)="onNewTeam($event)"></app-add-teams>
          <ng-container *ngComponentOutlet="adminComponent"></ng-container>
        </ng-template>
      </mat-tab>

      <mat-tab label="Preview" [disabled]="checkSelection()"> Next tab value: {{ nextTab }} </mat-tab>
    </mat-tab-group>
  </ng-container>
</div>
