<div class="grid-container">
  <h1 class="mat-h1">LET'S COMPETE</h1>
  <mat-grid-list cols="1" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <p>
              At The P League, we’re all about fun and competitive sports. We will provide men’s & women’s basketball leagues. We encourage you to sign up for one of three day leagues that we run! Our days are Thursdays, fridays, Saturdays and Sundays. Do you think you and your team can ball? Sign up now!!
            </p>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
