@import '~@angular/material/theming';

@mixin p-league-gallery-grid-list-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  :host img{
    width: 100%;    
  }
}