<div style="margin-top: 75px;">
  <h3 class="heading gradient">League Snapshots</h3>
  <div class="admin">
    <ng-container *ngIf="isAdmin">
      <app-admin-control [images]="galleryImages"></app-admin-control>
    </ng-container>
  </div>

  <div class="season-gallery">
    <mat-card
      [class.mat-elevation-z7]="true"
      class="season-card"
      [ngClass]="routeAnimationsElements"
    >
      <mat-card-header>
        <div mat-card-avatar class="season-header-image"></div>
        <mat-card-title>
          Seasons Snapshots
        </mat-card-title>
        <mat-card-subtitle> </mat-card-subtitle>
      </mat-card-header>

      <div mat-card-image>
        <ng-container *ngIf="galleryImages$ | async as galleryImages">
          <app-gallery-viewer
            [options]="galleryOptions"
            [images]="galleryImages"
          >
          </app-gallery-viewer>
        </ng-container>
      </div>

      <mat-card-content>
        <div></div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
