@import 'src/styles/styles.scss';

.heading {
	text-align: center;
	margin: 20px;
}

::ng-deep app-gallery-viewer > ngx-gallery {
	display: inline-block;
}

.admin {
	display: block;
	max-width: 71em;
	margin: 0 auto;
	#admin-upload {
		line-height: 36px !important;
		border-radius: 4px !important;
		cursor: pointer !important;
		display: block;
		margin: 0 auto;
	}
}

.season-gallery {
	height: 100%;
	max-width: 74em;
	margin: 0 auto;
	.season-card {
		margin: 1.5rem auto 1.5rem auto;
		box-sizing: border-box;
		position: relative;
		top: 0;
		max-width: 95%;
		transition: top ease 0.3s;
		width: 100%;

		.season-header-image {
			background-image: url('https://res.cloudinary.com/dkbelxhih/image/upload/f_auto,q_70,w_40/v1581902164/pleague/logo_no_title_xefmbk.png');
			background-size: cover;
			margin: 0 0 10px 0;
		}
	}
}
