@import 'src/styles.scss';

//Example how to use different color palattes
$foreground: map-get($the-p-league-theme, foreground);
.disabled-text {
  color: mat-color($foreground, disabled-text);
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
