@import '../../../../styles/styles-variables.scss';

.wrapper {
	margin: 75px auto;
	max-width: 768px;

	h1 {
		text-align: center;
		margin: 0.25em auto;
	}

	.admin-controls-container {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
}

@media (min-width: map-get($grid-breakpoints, md)) {
	.wrapper {
		.admin-controls-container {
			flex-direction: row;
		}
	}
}
