<ng-container *ngIf="leagues$ | async as leagues">
	<div class="sport-type">
		<form [formGroup]="sportTypeForm" novalidate>
			<mat-form-field class="sport-type-name-field" [appearance]="readonlySportName ? 'none' : 'legacy'">
				<input matInput formControlName="name" type="text" [readonly]="readonlySportName" />
			</mat-form-field>
			<div class="sport-action-buttons">
				<ng-container *ngIf="readonlySportName; else save">
					<mat-icon (click)="onSubmit()" aria-hidden="false" aria-label="Edit sport type name">edit</mat-icon>
				</ng-container>
				<mat-icon [class.disable-delete]="!readonlySportName" (click)="onDeleteSportType()" aria-hidden="false" aria-label="Delete sport type"
					>delete</mat-icon
				>
			</div>
		</form>
	</div>

	<ng-template #save>
		<mat-icon (click)="onSubmit()" aria-hidden="false" aria-label="Save sport type name">save_alt</mat-icon>
	</ng-template>

	<app-edit-leagues-list    
		[leagues]="leagues"
		[editLeaguesForm]="editForm"
		(selectedLeagues)="onLeagueSelectionChange($event)"
		(updatedLeagues)="onUpdatedLeagues($event, leagues)"
		(deletedLeagues)="onDeletedLeagues()"
	></app-edit-leagues-list>
</ng-container>
