<mat-expansion-panel>
  <mat-expansion-panel-header>
    Unassigned Teams
  </mat-expansion-panel-header>

  <ng-container *ngFor="let team of unassignedTeams">

  <mat-form-field>
    <input matInput [value]="team.name" [readonly]="true">
  </mat-form-field>

  <mat-form-field>
  <mat-label>League</mat-label>
  <mat-select >
    <mat-option>-- None --</mat-option>
    <mat-optgroup *ngFor="let sport of sports" [label]="sport.name"
                  >
      <mat-option *ngFor="let league of sport.leagues" [value]="league.id">
        {{league.name}}
      </mat-option>
    </mat-optgroup>
  </mat-select>
</mat-form-field>

</ng-container>

  <mat-action-row>
    <button mat-raised-button color="accent">Assign</button>  
  </mat-action-row>
</mat-expansion-panel>



