@import '../../../../styles-variables.scss';

.wrapper {
	margin: 1em 1em;

	.filter-container {
		display: flex;
		flex-direction: column;
	}

	.mat-table {
		overflow: auto;
		max-height: 500px;
	}

	.title {
		text-align: center;
	}

	.empty-message {
		text-align: center;
		margin: 1em;
	}
}

@media (min-width: map-get($grid-breakpoints, md)) {
	.wrapper {
		.filter-container {
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-around;
			margin: 0 auto;
		}
	}
}

@media (min-width: map-get($grid-breakpoints, lg)) {
	.wrapper {
		.filter-container {
			justify-content: space-evenly;
		}

		.mat-table {
			max-width: 85%;
		}

		.paginator {
			margin: 0 auto;
			max-width: 85%;
		}
	}
}

.mat-form-field {
	font-size: 14px;
	width: 100%;
}

.element-row {
	position: relative;
}

.element-row:not(.expanded) {
	cursor: pointer;
}

.element-row:not(.expanded):hover {
	background: #f5f5f51e;
}

.element-row:hover {
	background: #f5f5f518;
}

.element-row.expanded {
	border-bottom-color: transparent;
}
