<div class="second-background">
  <div
    style="position: relative; top: 40%; left: 40%; margin: 0 auto; height: 60%; width: 60%;"
  >
    <div
      data-scalar-x="7"
      data-scalar-y="7"
      data-relative-input="true"
      id="scene"
      style="width: 60%; height: 60%;"
    >
      <div data-depth="0.2" class="float-position-1">
        <h3 class="app-gradient">Got a squad?</h3>
      </div>
      <div data-depth="0.6" class="float-position-2">
        <h3 class="app-gradient">Sign up and compete!</h3>
      </div>
    </div>
  </div>
  <div class="gradient">
    <div class="container"></div>
  </div>
  <div id="arrow-wrapper">
    <div class="arrow-border">
      <div class="arrow down"></div>
      <div class="pulse"></div>
    </div>
  </div>
  <!-- <div class="scroll-down"></div> -->
</div>

<div
  #contactFormElement
  [ngStyle]="{ marginTop: isSticky ? '50px' : '0' }"
  class="form-wrapper"
>
  <form [formGroup]="contactForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>Team Info</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="Team's name"
                formControlName="teamName"
              />
              <mat-error
                *ngIf="contactForm.controls['teamName'].hasError('required')"
              >
                Last name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col">
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="First name"
                formControlName="firstName"
              />
              <mat-error
                *ngIf="contactForm.controls['firstName'].hasError('required')"
              >
                First name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col">
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="Last name"
                formControlName="lastName"
              />
              <mat-error
                *ngIf="contactForm.controls['lastName'].hasError('required')"
              >
                Last name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="Phone number"
                formControlName="phoneNumber"
                minlength="10"
                maxlength="10"
              />
              <mat-error
                *ngIf="contactForm.controls['phoneNumber'].hasError('required')"
              >
                Phone Number is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Email" formControlName="email" />
              <mat-error
                *ngIf="contactForm.controls['email'].hasError('required')"
              >
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>

      <mat-card-actions>
        <button
          mat-raised-button
          [disabled]="!contactForm.valid"
          color="primary"
          type="submit"
        >
          Submit
        </button>
        <button
          mat-raised-button
          color="warn"
          routerLink="/about"
          type="button"
        >
          Cancel
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
