<mat-card class="gear-item">

    <mat-card-header>

      <mat-card-title>

        <div>
            <h3 style="margin-top: 15px;">
              {{ gearItem.name }}
            </h3>
        </div>      

      </mat-card-title>

      <mat-card-subtitle>
        <div>
           {{ gearItem.inStock ? 'In stock' : 'Out of stock'}}
        </div>
      </mat-card-subtitle>

    </mat-card-header>

    <img 
      mat-card-image
      [src]="defaultImgURL"
      alt="Gear Item"
    >

    <!-- <img 
      mat-card-image
      [src]="gearItem.imageUrl !== null ? gearItem.imageUrl : defaultImgURL"
      alt="Gear Item"
    > -->
    
    <mat-card-content>

      <div>
          <div class="gear-sizes">

            <span class="sizes">Available Sizes:</span>

            <br>

            <mat-chip-list [selectable]="false">
                <mat-chip id="chip" 
                  *ngFor="let gearSize of gearItem.sizes"
                  color="warn">
                  {{ sizes[gearSize.size] }}               
                </mat-chip>
            </mat-chip-list>
              
          </div>
          <h2>${{ gearItem.price }}</h2>
      </div>      

    </mat-card-content>

    <mat-card-actions>
      <button mat-button (click)="onEditGearItem()">EDIT</button>
      <button mat-button (click)="onDeleteGearItem()">DELETE</button>
    </mat-card-actions>   

  </mat-card>