.gear-item {
  margin: 1.5rem 0 1.5rem 0;
  box-sizing: border-box;
  //max-width: 400px;
  position: relative;
  top: 0;
  width: 360px;
  transition: top ease 0.3s;
}

.sizes {
  margin-bottom: 8px;
  display: inline-block;
}

.price {
  margin-top: 8px;
}

.gear-item:hover {
  top: -15px;
}
