@import "~@angular/material/theming";

@mixin p-league-gallery-admin-control-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .photo-element {
    box-shadow: 9px 10px 25px -6px mat-color($accent, default);
    -webkit-box-shadow: 9px 10px 25px -6px mat-color($accent, default);
  }
  .photo-element:active {
    box-shadow: 0 5px 5px -3px mat-color($accent, default),
      0 8px 10px 1px mat-color($accent, default),
      0 3px 14px 2px mat-color($accent, default);
    opacity: 0.6;
  }
  .cdk-drag-preview {
    box-shadow: 0 5px 5px -3px mat-color($accent, default),
      0 8px 10px 1px mat-color($accent, default),
      0 3px 14px 2px mat-color($accent, default);
    -webkit-box-shadow: 0 5px 5px -3px mat-color($accent, default),
      0 8px 10px 1px mat-color($accent, default),
      0 3px 14px 2px mat-color($accent, default);
  }
}
