<mat-list>
	<h1 mat-subheader>Unassigned Teams</h1>
	<form [formGroup]="assignTeamsForm" (ngSubmit)="onSubmit()" novalidate>
		<div class="unassigned-teams">
			<ng-container *ngFor="let team of teams; let i = index">
				<ng-container formArrayName="unassignedTeams">
					<ng-container [formGroupName]="i">
						<mat-list-item>
							<mat-form-field appearance="outline">
								<mat-label>{{ team?.name }}</mat-label>
								<mat-select formControlName="leagueID">
									<mat-option>-- None --</mat-option>
									<mat-optgroup *ngFor="let pair of sportLeaguePairs" [label]="pair.name">
										<mat-option *ngFor="let league of pair.leagues" [value]="league.id">
											{{ league?.name }}
										</mat-option>
									</mat-optgroup>
								</mat-select>
							</mat-form-field>
						</mat-list-item>
					</ng-container>
				</ng-container>
			</ng-container>
		</div>
		<mat-divider></mat-divider>
		<div class="assign">
			<button mat-raised-button color="accent" [disabled]="!assignTeamsForm.valid">Assign</button>
		</div>
	</form>
</mat-list>
