.unassigned-teams {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	.mat-list-item {
		margin: 0.5em 0 0.5em 0;

		.mat-form-field {
			width: 100%;
		}
	}
}

.mat-divider {
	margin: 0.75em 15px 0.75em 15px;
}

.assign {
	display: flex;
	justify-content: flex-end;
	// margin: 1.59375em 0.75em;
	margin: 1.59375em 15px 1.59375em 15px;
}
