<div class="branding"><img [src]="logo" />
  <span class="app-title">{{appTitle}}</span></div>
<mat-nav-list [@sideNavLink]="sideNavAnimationState">
    <a mat-list-item (click)="onSideNavLinkClick()" href="https://playpass.com/cleveland-fitness-club/12-team-basketball-schedule-r344505" target="_blank">Schedule</a>
    <a mat-list-item (click)="onSideNavLinkClick()" routerLink="/merchandise">Merchandise</a>
    <a mat-list-item (click)="onSideNavLinkClick()" routerLink="/gallery">Gallery</a>
</mat-nav-list>