<div [@flyInOut]="isIn ? 'in' : 'out'">
  <div class="container">
    <h1 [ngClass]="routeAnimationsElements" class="welcome-title">WELCOME</h1>
  </div>

  <div
    [@fadeInOut]="isIn ? 'in' : 'out'"
    class="background"
    [ngClass]="routeAnimationsElements"
  >
    <div class="gradient">
      <div class="container">
        <div style="height: 350px;"></div>
      </div>
    </div>
  </div>

  <div class="container">
    <span
      [ngClass]="routeAnimationsElements"
      class="app-gradient center"
      style="display: block; font-size: x-large;"
      >LET'S COMPETE</span
    >
    <p [ngClass]="routeAnimationsElements" class="info">
      At The P League, we’re all about fun and competitive sports. We will
      provide men’s & women’s basketball leagues. We encourage you to sign up
      for one of three day leagues that we run! Our days are Thursdays, Fridays,
      Saturdays and Sundays. Do you think you and your team can ball? Sign up
      now!!
    </p>
  </div>
  <br />

  <div
    class="second-background"
    [ngClass]="mobileFunction() ? 'mobile-img' : 'parallax'"
  >
    <div class="gradient">
      <div class="container"></div>
    </div>

    <div class="gradient-2">
      <div class="container"></div>
    </div>
  </div>

  <div class="container">
    <span
      [ngClass]="routeAnimationsElements"
      class="app-gradient center"
      style="display: block; font-size: x-large;"
      >ABOUT THE P LEAGUE</span
    ><br />
    <span
      [ngClass]="routeAnimationsElements"
      class="app-gradient animations"
      style="display: block; text-align: center; font-size: larger"
      >Let's keep it simple and play ball
    </span>
    <div [ngClass]="routeAnimationsElements">
      <fa-icon
        [@pulsing]="pulsingState"
        (@pulsing.done)="onDonePulsing()"
        class="basketball ball"
        [icon]="['fas', 'basketball-ball']"
        size="2x"
      ></fa-icon>
    </div>

    <ul [ngClass]="routeAnimationsElements" class="animations">
      <li>
        <p>Each league will have 8-20 teams</p>
      </li>
      <li>
        <p>Each team must have 8 players minimum.</p>
      </li>
      <li>
        <p>Each team is allowed one new member on the team if needed</p>
      </li>
      <li>
        <p>Jerseys will be provided for each team</p>
      </li>
      <li>
        <p>Two 20 minute halves</p>
      </li>
      <li>
        <p>Two time-outs per half</p>
      </li>
      <li>
        <p>$25 Ref Fees</p>
      </li>
      <li>
        <p>$30 scorekeeper fee</p>
      </li>
      <li>
        <p>$60 Forfeit fee</p>
      </li>
      <li>
        <p>no refunds</p>
      </li>
    </ul>

    <div [ngClass]="routeAnimationsElements" class="actions">
      <a
        routerLink="/team-signup"
        mat-raised-button
        class="actions-main pulsing"
        color="accent"
        >Sign Up Your Team Now!
      </a>
    </div>
  </div>
</div>
