<ng-container *ngIf="leagues$ | async as leagues">
  <ng-container *ngFor="let league of leagues">
    <app-team-administration [league]="league"></app-team-administration>

    <app-new-session-schedule></app-new-session-schedule>

    <mat-divider></mat-divider>
  </ng-container>
</ng-container>

<ng-container *ngIf="unassignedTeams$ | async as unassignedTeams">
  <ng-container *ngIf="sportLeaguePairs$ | async as pairs">
    <app-unassigned
      *ngIf="unassignedTeams?.length > 0"
      [teams]="unassignedTeams"
      [sportLeaguePairs]="pairs"
      [assignTeamsForm]="assignTeamsForm"
      (onAssignTeamsToLeagues)="onAssignTeams($event)"
    ></app-unassigned>
  </ng-container>
</ng-container>
