<ng-container *ngIf="leagues$ | async as leagueData">
	<ng-container *ngFor="let data of leagueData">
		<app-edit-teams-list
			(updatedTeams)="onUpdatedTeams($event, data.league?.id)"
			(deletedTeams)="onDeletedTeams(data.league?.id)"
			(unassignedTeamsChange)="onUnassignedTeamsChange(data.league?.id)"
			(teamsSelectionChange)="onTeamsSelectionChange($event)"
			[teamsForm]="data.form"
			[teams]="data.teams"
			[sport]="data.sport"
			[league]="data.league"
		></app-edit-teams-list>

		<app-new-session-schedule
			[sessionForm]="newSessionForm"
			[requireTime]="requireTimeErrorStateMatcher"
			(gamesDayAdded)="onGamesDayAdded()"
			(gamesDayRemved)="onGamesDayRemoved($event)"
			(gamesTimeAdded)="onGamesTimeAdded($event)"
			(gamesTimeRemoved)="onGamesTimeRemoved($event)"
			(newSessionGenerated)="onNewSessionGenerated($event)"
		>
		</app-new-session-schedule>

		<mat-divider></mat-divider>
	</ng-container>
</ng-container>

<ng-container *ngIf="unassignedTeamsData$ | async as data">
	<app-unassigned
		*ngIf="data.unassignedTeams?.length > 0"
		[sportLeaguePairs]="data.pairs"
		[assignTeamsForm]="assignTeamsForm"
		(onAssignTeamsToLeagues)="onAssignTeams($event)"
	></app-unassigned>
</ng-container>
