@import "~@angular/material/theming";

@mixin p-league-merchandise-item-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  #chip {
    background-color: mat-color($warn, default);
  }

  .gear-item {
    background: linear-gradient(
      mat-color($primary, default),
      mat-color($accent, default),
      mat-color($primary, default)
    );
  }
}
