<div class="wrapper">
	<app-acting-spinner *ngIf="acting$ | async"></app-acting-spinner>
	<ng-container *ngIf="sportLeaguePairs$ | async as pairs">
		<mat-tab-group #matGroup (selectedTabChange)="reset($event)" [selectedIndex]="nextTab">
			<mat-tab label="League">
				<div class="schedule-admin">
					<app-add-sports-leagues
						[sportLeaguePairs]="pairs"
						[newSportLeagueForm]="newSportLeagueForm"
						(onNewSportLeague)="onNewSportLeague($event)"
					></app-add-sports-leagues>
					<!-- loop through all sports and display league administration for each sport each sport contains list of leagues-->
					<ng-container *ngIf="sportTypes$ | async as types">
						<ng-container *ngFor="let sport of types">
							<app-league-administration
								(deletedSport)="onDeleteSport($event)"
								(updatedSportName)="onUpdateSport($event)"
								(leagueSelectionChanged)="onLeagueSelectionChanged($event)"
								[sportType]="sport"
							></app-league-administration>
						</ng-container>
					</ng-container>
					<div class="schedule-action-buttons">
						<button mat-raised-button color="accent" (click)="onModifySchedule()" [disabled]="true">
							Modify
						</button>
						<button mat-raised-button color="accent" (click)="onPlayOffsSchedule()" [disabled]="true">
							Play Offs
						</button>
						<button mat-raised-button color="accent" (click)="onNewSchedule()" [disabled]="checkSelection()">
							New
						</button>
					</div>
				</div>
			</mat-tab>

			<mat-tab class="schedule-admin" [label]="tabTitle" [disabled]="checkSelection()">
				<ng-template matTabContent>
					<div class="schedule-admin">
						<app-add-teams [sportLeaguePairs]="pairs" [newTeamForm]="newTeamForm" (onNewTeam)="onNewTeam($event)"></app-add-teams>

						<ng-container [ngSwitch]="adminComponent">
							<app-new-schedule *ngSwitchCase="'new'" (generateSchedules)="onGeneratedSchedules($event)"></app-new-schedule>
						</ng-container>
					</div>
				</ng-template>
			</mat-tab>

			<mat-tab label="Preview" [disabled]="checkSelection()">
				<ng-template matTabContent>
					<ng-container *ngIf="filteredPairs$ | async as filteredPairs">
						<app-session-schedules
							[dataSource]="previewDataSource"
							[mobile]="isMobile"
							[sortOrder]="sortOrderPreview"
							[pairs]="filteredPairs"
							[displayLeagueID]="displayLeagueID"
							[displayTeamID]="displayTeamID"
							(leagueChanged)="onLeagueChanged($event)"
							(teamChanged)="onTeamChanged($event)"
							(filterByDateChanged)="onDateSelectionChanged($event)"
							(filterByInputChanged)="onFilterValueChanged($event)"
						></app-session-schedules>
						<div class="publish">
							<button mat-raised-button color="accent" (click)="onSchedulesPublished()">Publish</button>
						</div>
					</ng-container>
				</ng-template>
			</mat-tab>
		</mat-tab-group>
	</ng-container>
</div>
