<div class="wrapper">
	<ng-container *ngIf="sportLeaguePairs$ | async as pairs">
		<mat-tab-group #matGroup (selectedTabChange)="reset($event)" [selectedIndex]="nextTab">
			<mat-tab label="League">
				<app-add-sports-leagues
					[sportLeaguePairs]="pairs"
					[newSportLeagueForm]="newSportLeagueForm"
					(onNewSportLeague)="onNewSportLeague($event)"
				></app-add-sports-leagues>
				<!-- loop through all sports and display league administration for each sport each sport contains list of leagues-->
				<ng-container *ngIf="sportTypes$ | async as types">
					<ng-container *ngFor="let sport of types">
						<app-league-administration
							(deletedSport)="onDeleteSport($event)"
							(updatedSportName)="onUpdateSport($event)"
							[sportType]="sport"
						></app-league-administration>
					</ng-container>
				</ng-container>
				<div>
					<button mat-raised-button (click)="onNewSchedule()" [disabled]="checkSelection()">
						New
					</button>
					<button mat-raised-button (click)="onPlayOffsSchedule()" [disabled]="true">
						Play Offs
					</button>
					<button mat-raised-button (click)="onModifySchedule()" [disabled]="true">
						Modify
					</button>
				</div>
			</mat-tab>

			<mat-tab [label]="tabTitle" [disabled]="checkSelection()">
				<ng-template matTabContent>
					<app-add-teams [sportLeaguePairs]="pairs" [newTeamForm]="newTeamForm" (onNewTeam)="onNewTeam($event)"></app-add-teams>

					<ng-container [ngSwitch]="adminComponent">
						<app-new-schedule *ngSwitchCase="'new'" (generateSchedules)="onGeneratedSchedules($event)"></app-new-schedule>
					</ng-container>
				</ng-template>
			</mat-tab>

			<mat-tab label="Preview" [disabled]="checkSelection()">
				<ng-template matTabContent>
					<ng-container *ngIf="filteredPairs$ | async as filteredPairs">
						<app-preview-schedule
							[matchesDataSource]="previewDataSource"
							[pairs]="filteredPairs"
							[displayLeagueID]="displayLeagueID"
							(leagueChanged)="onLeagueChanged($event)"
							(schedulesPublished)="onSchedulesPublished()"
						></app-preview-schedule>
					</ng-container>
				</ng-template>
			</mat-tab>
		</mat-tab-group>
	</ng-container>
</div>
