<div style="margin-top: 95px;" class="admin-login-wrapper">
  <form [formGroup]="adminLoginForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="admin-card">
      <mat-card-header style="width: 100%">
        <mat-card-title>
          <h5>Administrative Login</h5>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div class="admin-login" fxLayout="row nowrap">
          <div class="admin-lock-container">
            <span style="font-size: smaller">
              Login to gain accesss to the administrative website functionality
            </span>
            <img
              class="admin-lock-img"
              [src]="adminLockImgSrc"
              alt="Admin Login"
            />
          </div>
          <div style="width: 100%">
            <div class="row">
              <div class="col">
                <mat-form-field class="full-width">
                  <input
                    formControlName="username"
                    matInput
                    placeholder="Username"
                  />
                  <mat-error>Username is required</mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <mat-form-field class="full-width">
                  <input
                    formControlName="password"
                    matInput
                    placeholder="Password"
                  />
                  <mat-error>Password is required</mat-error>
                </mat-form-field>
              </div>
            </div>
            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="!adminLoginForm.valid"
            >
              Login
            </button>

            <button
              id="cancel"
              type="button"
              mat-raised-button
              color="warn"
              routerLink="/about"
            >
              Cancel
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>
