.container {
	display: flex;
	flex-flow: row wrap;
	margin-top: 75px;
	justify-content: center;

	.element {
		align-self: center;
	}

	.element:hover {
		border: 2px solid whitesmoke;
		cursor: pointer;
	}
}
