<div [ngStyle]="{marginTop: isSticky ? '50px' : '0'}">
  <div class="background " [ngClass]="routeAnimationsElements">
    <div class="gradient parallax">
      <div class="container">
        <div style="height: 350px;"></div>
      </div>
      <div cdkScrollable id="arrow-wrapper">
        <div (click)="onArrowClick()" class="arrow-border">
          <div class="arrow down"></div>
          <div class="pulse"></div>
        </div>
      </div>
    </div>
  </div>

  <div style="padding: 0 10px;">
    <h2 #gearUp [ngClass]="routeAnimationsElements" class="heading">The P League Collection</h2>

    <div class="admin">
      <span [ngClass]="routeAnimationsElements">As an admin you can modify your inventory here</span>
      <button mat-raised-button [ngClass]="routeAnimationsElements" color="accent" type="button"
        (click)="onAddGearItems()">Upload Gear</button>
    </div>

    <div class="merchandise-cards">
      <ng-container *ngFor="let gearItem of pagedGearItems">
        <app-merchandise-item class="list-item" [gearItem]="gearItem">
        </app-merchandise-item>
      </ng-container>
    </div>

    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
      (page)="pageEvent = OnPageChange($event)" (window:resize)="onResize($event)">
    </mat-paginator>

  </div>
</div>