<div style="margin-top: 75px; padding: 0 10px;">
  <h1 [ngClass]="routeAnimationsElements" class="heading">Gear Up!</h1>
  <div class="admin">
    <span [ngClass]="routeAnimationsElements">As an admin you can modify your inventory here</span>
    <button mat-raised-button [ngClass]="routeAnimationsElements" color="accent" type="button"
      (click)="onAddGearItems()">Upload Gear</button>
  </div>

  <ng-container *ngFor="let gearItem of gearItems">
      <app-merchandise-item
      class="list-item" [gearItem]="gearItem">
    </app-merchandise-item>
  </ng-container>  

  <mat-paginator [length]="7" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>

</div>