@import '~@angular/material/theming';

@mixin p-league-gallery-grid-list-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  img{
    width: 100%;
    // border:  mat-color($accent, default) solid 3px;
  }
}