@import '../../../../../../styles/styles-variables.scss';

.wrapper {
	margin: 0 auto;

	::ng-deep.dark-theme {
		.timepicker__body {
			background-color: #424242;
		}
		.timepicker__header {
			background-color: #555;
		}
		.timepicker__main-content {
			background-color: #424242;
		}
		.timepicker__actions {
			background-color: #424242;
		}
		.timepicker-button {
			color: white;
		}
		.clock-face {
			background-color: #555;
		}
		.clock-face__clock-hand {
			background-color: #9fbd90;
		}
		.clock-face__number span {
			color: white;
		}
		.clock-face__number span.active {
			background-color: #9fbd90;
		}
	}

	.white-icon {
		color: white;
	}

	button {
		margin: 0 auto;
		display: block;
	}
	.container {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;

		.mat-slide-toggle {
			margin-bottom: 1.34375em;
		}

		.gameDaysTimes {
			border: grey 1px solid;
			border-radius: 0.25em;
			margin-bottom: 0.75em;

			.remove-game-day {
				display: flex;
				flex-direction: row;
				justify-content: flex-end;
				border-bottom: 1px solid rgb(255, 255, 255, 0.5);
				padding: 0.5em;
				background-color: #6161611c;

				mat-icon {
					cursor: pointer;
				}
			}

			.gameDayTimes {
				padding: 0.5em;
			}

			mat-form-field {
				width: 100%;
			}

			.game-times-chips {
				width: 100%;
			}
		}
	}
}
