@import 'styles-variables';
// // Custom Theming for Angular Material
// // For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// // Plus imports for other components in your app.

// // Include the common styles for Angular Material. We include this here so that you only
// // have to load a single css file for Angular Material in your app.
// // Be sure that you only ever include this mixin once!
@include mat-core();

// // Define the palettes for your theme using the Material Design palettes available in palette.scss
// // (imported above). For each palette, you can optionally specify a default, lighter, and darker
// // hue. Available color palettes: https://material.io/design/color/
// $the-p-league-primary: mat-palette($mat-grey, 700, 300, 900);
// $the-p-league-accent: mat-palette($mat-blue-grey, 400);
// $the-p-league-warn: mat-palette($mat-red, 500);

// // // The warn palette is optional (defaults to red).
// // $the-p-league-warn: mat-palette($mat-red, 500);

// // // Create the theme object (a Sass map containing all of the palettes).
// $the-p-league-theme: mat-dark-theme(
//   $the-p-league-primary,
//   $the-p-league-accent,
//   $the-p-league-warn
//   );

// // Include theme styles for core and each component used in your app.
// // Alternatively, you can import and @include the theme mixins for each component
// // that you are using.
// @include angular-material-theme($the-p-league-theme);

/* You can add global styles to this file, and also import other style files */
@import 'themes/dark-theme.scss';

@import 'app/app.component.scss-theme.scss';
@import 'app/core/components/navigation/sidenav-list/sidenav-list.component.scss-theme.scss';
@import 'app/core/components/navigation/toolbar/toolbar.component.scss-theme.scss';

// @import "app/shared/components/snack-bar/snack-bar.component.theme-scss.scss";

@import 'app/views/about/about.component.scss-theme.scss';
@import 'app/views/merchandise/merchandise-list/merchandise-item/merchandise-item.scss-theme.scss';
@import 'app/views/gallery/gallery-grid-list.scss-theme.scss';
@import 'app/views/merchandise/merchandise-dialog-container/merchandise-dialog/merchandise-dialog.component.scss-theme.scss';
@import 'app/views/merchandise/merchandise-list/merchandise-list.component.scss-theme.scss';
@import 'app/views/about/components/team-signup/team-signup-form//team-signup-form.component.scss-theme.scss';
@import 'app/views/gallery/components/admin-control/admin-control.component.scss-theme.scss';
@import 'app/views/admin/admin-login/admin-login.component.scss-theme.scss';

@include angular-material-theme($the-p-league-theme);

@mixin custom-components-theme($theme) {
	@include p-league-about-component-theme($theme);
	@include p-league-sidenav-component-theme($theme);
	@include p-league-app-component-theme($theme);
	@include p-league-merchandise-item-component-theme($theme);
	@include p-league-gallery-grid-list-component-theme($theme);
	@include p-league-merchandise-dialog-component-theme($theme);
	@include p-league-merchandise-list-component-theme($theme);
	@include p-league-toolbar-component-theme($theme);
	@include p-league-team-signup-form-theme($theme);
	@include p-league-gallery-admin-control-theme($theme);
	@include p-league-admin-component-theme($theme);
}

.dark-theme {
	@include angular-material-theme($the-p-league-theme);
	@include custom-components-theme($the-p-league-theme);
}

/* roboto-regular - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('https://localhost:5001/wwwroot/fonts/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
	src: local('Roboto'), local('Roboto-Regular'),
		url('https://localhost:5001/wwwroot/fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('https://localhost:5001/wwwroot/fonts/roboto-v20-latin-regular.woff2') format('woff2'),
		/* Super Modern Browsers */ url('https://localhost:5001/wwwroot/fonts/roboto-v20-latin-regular.woff') format('woff'),
		/* Modern Browsers */ url('https://localhost:5001/wwwroot/fonts/roboto-v20-latin-regular.ttf') format('truetype'),
		/* Safari, Android, iOS */ url('https://localhost:5001/wwwroot/fonts/roboto-v20-latin-regular.svg#Roboto') format('svg');
	unicode-range: U+000-5FF;
}

/* roboto-italic - latin */
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url('https://localhost:5001/wwwroot/fonts/roboto-v20-latin-italic.eot'); /* IE9 Compat Modes */
	src: local('Roboto Italic'), local('Roboto-Italic'),
		url('https://localhost:5001/wwwroot/fonts/roboto-v20-latin-italic.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('https://localhost:5001/wwwroot/fonts/roboto-v20-latin-italic.woff2') format('woff2'),
		/* Super Modern Browsers */ url('https://localhost:5001/wwwroot/fonts/roboto-v20-latin-italic.woff') format('woff'),
		/* Modern Browsers */ url('https://localhost:5001/wwwroot/fonts/roboto-v20-latin-italic.ttf') format('truetype'),
		/* Safari, Android, iOS */ url('https://localhost:5001/wwwroot/fonts/roboto-v20-latin-italic.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-500 - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('https://localhost:5001/wwwroot/fonts/roboto-v20-latin-500.eot'); /* IE9 Compat Modes */
	src: local('Roboto Medium'), local('Roboto-Medium'),
		url('https://localhost:5001/wwwroot/fonts/roboto-v20-latin-500.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('https://localhost:5001/wwwroot/fonts/roboto-v20-latin-500.woff2') format('woff2'),
		/* Super Modern Browsers */ url('https://localhost:5001/wwwroot/fonts/roboto-v20-latin-500.woff') format('woff'),
		/* Modern Browsers */ url('https://localhost:5001/wwwroot/fonts/roboto-v20-latin-500.ttf') format('truetype'),
		/* Safari, Android, iOS */ url('https://localhost:5001/wwwroot/fonts/roboto-v20-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}

html,
body {
	height: 100%;
}
body.font-family {
	margin: 0;
	font-family: 'Roboto', 'Helvetica Neue', sans-serif;
	line-height: 1.5;
	font-size: 16px;
}

// May be required for ngx-gallery
.mat-sidenav-container,
.mat-sidenav-content,
.mat-tab-body-content {
	transform: none !important;
}

// Snackbar styles
.style-success {
	background: #323232;
	color: rgba(255, 255, 255, 0.7);
	// font-weight: 700;
	.mat-button-wrapper {
		color: #ff4081;
	}
}

.style-error {
	background: #ff4081;
	color: rgba(255, 255, 255, 0.7);
	// font-weight: 700;
	.mat-button-wrapper {
		color: #323232;
	}
}

.style-warn {
	background: #fbc02d;
	color: #323232;
	.mat-button-wrapper {
		color: #ff4081;
	}
}
