.mat-list-item-disabled {
	background-color: #303030;
}

.empty-leagues-message {
	text-align: center;
}

.edit-actions-buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;

	button {
		margin: 0.25rem;
	}
}

.mat-divider {
	margin: 0.5em !important;
}
