<div class="schedule-table">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="margin: 0 auto;">

    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

        <!-- Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let match">Enter Date Here</td>
    </ng-container>
    
     <!-- Home Column -->
    <ng-container matColumnDef="home">
      <th mat-header-cell *matHeaderCellDef> Home </th>
      <td mat-cell *matCellDef="let match"> {{ match.homeTeam.name }} </td>
    </ng-container>

     <!-- Away Column -->
    <ng-container matColumnDef="away">
      <th mat-header-cell *matHeaderCellDef> Away </th>
      <td mat-cell *matCellDef="let match"> {{ match.awayTeam.name }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>